---
import type { CollectionEntry } from 'astro:content'
import FormattedDate from '../components/FormattedDate.astro'
import PageLayout from './PageLayout.astro'

type Props = CollectionEntry<'blog'>['data'] & { minutesRead?: string }

const { title, description, pubDate, updatedDate, heroImage, minutesRead } = Astro.props
---

<PageLayout title={title} description={description}>
    <article class="prose m-auto lg:prose-lg prose-img:rounded-xl">
        {heroImage && <img width={720} height={360} src={heroImage} alt="" />}
        <h1 class="title">{title}</h1>
        {minutesRead && <p>{minutesRead}</p>}

        <FormattedDate date={pubDate} />
        {
            updatedDate && (
                <div class="last-updated-on">
                    Last updated on <FormattedDate date={updatedDate} />
                </div>
            )
        }
        <hr />
        <slot />
    </article>
</PageLayout>
