---
import type { CollectionEntry } from 'astro:content'
import FormattedDate from '../components/FormattedDate.astro'
import PageLayout from './PageLayout.astro'
import { Icon } from 'astro-preload/components'

type Props = CollectionEntry<'blog'>['data'] & { minutesRead?: string }

const { title, description, pubDate, updatedDate, heroImage, minutesRead, tags } = Astro.props
---

<PageLayout title={title} description={description}>
    <div class="title color text-lg text-primary hover:text-primary-focus pb-2">{title}</div>

    <div class="flex items-center pb-8">
        <Icon name="mdi:calendar-month-outline" />
        <FormattedDate date={pubDate} />

        {
            minutesRead && (
                <>
                    <div class="divider divider-horizontal" />
                    <span class="italic">{minutesRead}</span>
                </>
            )
        }

        <div class="divider divider-horizontal"></div>

        <div class="w-full md:w-auto flex flex-wrap gap-3">
            {tags.map((tag) => <span class="text-sm text-gray-500">#{tag}</span>)}
        </div>
    </div>

    {heroImage && <img width={720} height={360} src={heroImage} alt="" />}

    <article class="prose max-w-3xl prose-img:rounded-xl px-4">
        {
            updatedDate && (
                <div class="last-updated-on">
                    Last updated on <FormattedDate date={updatedDate} />
                </div>
            )
        }
        <hr />
        <slot />
    </article>
</PageLayout>

<style is:global>
    /* infima/microflash/vitepress */
    @import url('@microflash/remark-callout-directives/themes/vitepress.css');
    #toc {
        display: none;

        & + ul {
            @apply floating-btn-mini list-disc py-4;

            ul {
                @apply list-[circle] my-0;
            }

            li {
                @apply my-0;

                p {
                    @apply my-1;
                }

                a {
                    @apply link;
                }
            }
        }
    }

    .prose {
        :not(pre) code {
            @apply bg-primary-content rounded;
        }

        .callout-content {
            p {
                @apply my-0;
            }

            p + p {
                @apply mt-5;
            }
        }
    }

    [data-theme='dracula'] {
        .prose {
            :not(pre) code {
                @apply bg-primary-focus;
            }
            .prose pre {
                @apply border-primary border;
            }
        }
    }
</style>
